@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jesteś w dobrym miejscu</h1>
    <h2>Pomożemy Ci szybciej wrócić do zdrowia</h2>
    <div>
        <p>
            U nas wypożyczysz sprzęt, który przyspieszy i ułatwi Ci powrót do zdrowia! <br /> W naszej ofercie znajdziesz:
        </p>
        <div class="d-flex justify-content-center">
            <ul class="text-left">
                <li>nowoczesne, bezprzewodowe lub przewodowe elektrostymulatory mięśni</li>
                <li>urządzenia drenujące Reboots</li>
                <li>iWalk</li>
                <li>kule łokciowe lub pachowe</li>
            </ul>
        </div>
        <div class="mt-4">
            <a asp-action="Index" asp-controller="Devices" class="btn btn-success">Przejdź do listy urządzeń</a>
        </div>
    </div>
</div>
