@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jesteś w dobrym miejscu</h1>
    <h2>Pomożemy Ci szybciej wrócić do zdrowia</h2>
    <div>
        <p>
            U nas wypożyczysz sprzęt, który przyspieszy i ulatwi Ci powró do zdrowia! <br /> W naszej ofercie znajdziesz:
            <ul>
                <li>nowoczesne, bezprzewodowe lub przewodowe elektrostymulatory mięśni</li>
            <li>urządzenia drenujące Reboots</li>
            <li>iWalk</li>
            <li>kule łokciowe lub pachowe</li>
            </ul>
        </p>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
